<section>
<form action="/admin/addproduct" method="post" enctype="multipart/form-data">
<div class="container">
 <h2 class="text-center mt-5">Add Product</h2>
<div class="col-md-6 mt-5">

  
    <label for="">Name</label>
    <input type="text"name="Name" class="form-control">
    

  
    <label for="">Product</label>
    <input type="text" name="Product" class="form-control">
  
   
   
    <label for="">Price</label>
    <input type="number" name="Price" class="form-control">
  

  
    <label for="">Image</label>
    <input type="file" name="Image"class="form-control">
  
<button type="submit" class="btn btn-primary">Submit</button>
  </div>
  </div>
</form>
</section>