<section>
<div class="container-fluid">

<h2 class="text-center mt-5">Enter Delivery Address</h2>
<form action="#"  method="post" id="checkout-form">
    <div class="row">
         <div class="col-6 mt-5">

   
 
 <label for="">Address</label>
    <input type="text"name="address" class="form-control">
    

   <label for="">Phone Number</label>
    <input type="number" name="mobile" class="form-control">

    
  <label for="">Pincode</label>
    <input type="number" name="pincode" class="form-control">
    <input type="text" name="userId" id="" value="{{user._id}}"hidden>
  


  <div class="card ml-5 mt-5" style="width:20rem; height:15rem;">
  <div class="card-body">
    <h5 class="card-title">Total Amount:RS {{total}}</h5>
    <hr>
    <p>payment Method</p><br>
    <input class="pr-2" type="checkbox" id="gridCheck" name="payment-method" value="COD">
      <label class="form-check-label" for="gridCheck">
        COD
      </label><br>

      <input class="pr-2" type="checkbox" id="gridCheck" name="payment-method" value="Online Payment">
      <label class="form-check-label" for="gridCheck">
        Online Payment
      </label><br>
      
    <button class="btn btn-primary float-right" type="submit">Checkout</button>
    
  </div>
</div>
 </form>
</div>

  </div>
</div>
</section>
<script>
  $("#checkout-form").submit((e)=>{
    e.preventDefault()
    $.ajax({
      url:'/continue-pay',
      method:'post',
      data:$("#checkout-form").serialize(),
      success:(response)=>{
      alert:(response)
      if(response.codsuccess){
        location.href='/checkout'
      }else{
        razorpaypayment(response)
      }
      }
    })
  })
  function  razorpaypayment(order){
   
var options = {
    "key": "rzp_test_oZu3J0UoD89c4G", // Enter the Key ID generated from the Dashboard
    "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Acme Corp",
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
       

        verifypayment(response,order)
    },
    "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9999999999"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
}; 
var rzp1 = new Razorpay(options);
  rzp1.open();
  }
  function verifypayment(payment,order){
    $.ajax({
      url:'/verify-payment',
      data:{
        payment,
        order
      },
      method:'post',
      success:(response)=>{
        if(response.status)
        {
           location.href='/checkout'
        }
        else{
          alert("payment failled")
        }
      }   
    })
  }
</script>
