<section>
    <form action="/signup" method="post">
    <div class="container">
 <h2 class="mt-5">Create New Account</h2>
<div class="col-md-6 ">

  
    <label for="">Name</label>
    <input type="text"name="Name" class="form-control">

       <label for="">Email</label>
    <input type="Email"name="Email" class="form-control">
    

  
    <label for="">Password</label>
    <input type="password" class="form-control" name='Password'placeholder=" Enter your Password">
   

    <a href="/login">Already have an account</a>
     <button type="submit" class="btn btn-primary ml-5 mt-3">SIGNUP</button>
     </div>

</form>
</section>